<ion-content>
  <div id="header" [@headerAnimation]>
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="../"></ion-icon>
      <div id="logo">
        <img src="../../../assets/icon/R.jpg" />
      </div>
    </div>
    <h1>Forgot Password</h1>
    <!--<p>Sign in to discover amazing thing near<br />around</p>-->
  </div>

  <div class="wrapper" [@wrapperAnimation]>
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-button class="submit" expand="block">Resit</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>