<ion-custom-header title="About Us"></ion-custom-header>

<ion-content [fullscreen]="true">

    <ion-list lines="none">
      <ion-card *ngFor="let person of persons" class="card">
        <ion-item>
          <ion-thumbnail class="ion-margin-end">
            <img [src]="person.image"  alt="person image" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
          <h2 text> {{person.lastName}}   {{person.firstName}}</h2> 
            <p color="primary-color">{{person.description}}</p>
          </ion-label>
        </ion-item>
        <ion-card-content class="ion-margin-top">
         <a [href]="person.socialLinkedIn" target="_blank"> <ion-icon color="primary"  name="logo-linkedin" size="large"></ion-icon> </a>
         <a [href]="person.socialGit" target="_blank">  <ion-icon color="primary" name="logo-github" size="large"></ion-icon> </a>
         <a [href]="person.socialInstagram" target="_blank">  <ion-icon color="primary" name="logo-instagram" size="large"></ion-icon> </a>
         <a [href]="person.socialFacebook" target="_blank">  <ion-icon color="primary" name="logo-facebook" size="large"></ion-icon> </a>
        </ion-card-content>
      </ion-card>
    </ion-list>


</ion-content>