<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> {{course?.title}} </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-card class="ion-no-margin">
    <img  [src]="course?.image" width="100%"/>
    <ion-card-content>
      <ion-item lines="none">
        <ion-card-title>{{course?.title}} </ion-card-title>
      </ion-item>
      <ion-item lines="none" class="ion-no-margin">
        <p>
        <ion-icon name="star" slot="start" color="primary"></ion-icon>
        {{ course?.rating }}
        </p>
      </ion-item>
      <ion-item lines="none">
        <p class="ion-text-wrap"> by {{ course?.author }}</p>
      </ion-item>
      <ion-item lines="none">
        <ion-label> {{ course?.price | currency:"USD" }}</ion-label>
      </ion-item>
      <ion-button expand="block" class="ion-text-capitalize"> Enroll</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
