<ion-tabs>
<ion-tab-bar slot="bottom" *ngIf="isAuthenticated()">
        <ion-tab-button tab="home">
            <ion-icon aria-hidden="true" name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="categories">
            <ion-icon aria-hidden="true" name="grid"></ion-icon>
            <ion-label>categories</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="Profile">
            <ion-icon aria-hidden="true" name="person"></ion-icon>
            <ion-label>Profile</ion-label>
            </ion-tab-button>

        <ion-tab-button tab="panier">
            <ion-icon aria-hidden="true" name="cart"></ion-icon>
            <ion-label>Panier</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="about_us">
            <ion-icon aria-hidden="true" name="people"></ion-icon>
            <ion-label>About Us</ion-label>
        </ion-tab-button>

        </ion-tab-bar>

</ion-tabs>

