$primary-color: #810CA8;
$secondary-color: #C147E9;
$tertiary-color: #E5B8F4;

ion-content {

    #header {
        height: 33%;
        background: $primary-color;
        border-radius: 0 0 30px 30px;
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 20px;


        #app-bar {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;



            #logo {
                width: 80px;
                height: 80px;
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                align-self: center;
                border: solid black 1px;

                img {
                    width: 90%;
                    border-radius: 50%;
                }
            }
        }


        h1 {
            font-size: 19px;
            margin-bottom: 5px;
            text-align: center;
        }

        p {
            font-size: 15px;
            line-height: 1.4;
            text-align: center;
        }
    }

    .wrapper {
        position: absolute;
        top: 26%;
        left: 4%;
        right: 4%;


        .form-wrapper {
            box-shadow: none;
            border-radius: 20px;
            padding: 15px 10px;

            ion-button {
                height: 40px;
                --box-shadow: none;
                text-transform: initial;
                font-size: 16px;
                letter-spacing: 0;
                font-weight: 400;
                margin-bottom: 15px;
            }

            .sign-in {
                --background: #810CA8;
            }

            .sign-up {
                --background: transparent;
                border: solid 1px #810CA8;
                color: #810CA8;
            }

            .line-text {
                padding: 0 30px;
                position: relative;
                height: 20px;
                margin-top: 30px;

                .lines {
                    height: 1px;
                    background: #858585;
                    display: block;
                }

                .text {
                    position: absolute;
                    top: -7px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: #fff;
                    padding: 0 16px;
                    font-size: 12px;
                    font-weight: 500;
                    color: #5e5e5e;
                }
            }



            .socials {
                display: flex;
                flex-direction: column;
                justify-content: stretch;

                padding: 5px;

                ion-button {
                    margin: 0 5px;
                    --padding-start: 12px;
                    --padding-end: 12px;

                    ion-icon {
                        font-size: 18px;
                    }
                }

                .btn-fb {
                    --background: #567aa3;
                }

                .btn-gb {
                    --background: rgb(70, 70, 70);
                }

                .btn-go {
                    --background: #fd684f;

                }

                .btn-ph {
                    --background: #737373;
                }

            }


        }


    }
}