<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        Hello Bilal
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="home-head">
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  <!-- <ion-card *ngFor=" let course of courses" [style]="'cursor: pointer;'" routerLink="">
    <ion-card-header>
      <ion-img [src]="course.image_480x270" alt="corse image" ></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>{{course.title}}</ion-card-title>
      <ion-card-subtitle>
        <ion-icon *ngFor="let t of [1,2,3,4,5]" name="star" class="primary-color"></ion-icon>
      </ion-card-subtitle>
      <ion-text >${{ course.price}}</ion-text>
    </ion-card-content>
  </ion-card> -->

  <!-- ------------------- -->
  <!-- <ion-list lines="none">
    <ion-item *ngFor=" let course of courses" [style]="'cursor: pointer;'">
      <ion-thumbnail slot="start">
        <ion-img [src]="course.image_480x270" alt="corse image"></ion-img>
      </ion-thumbnail>
          <ion-label>{{course.title}}</ion-label>
          <ion-label>
            <ion-icon *ngFor="let t of [1,2,3,4,5]" name="star" class="primary-color"></ion-icon>
          </ion-label>
          <ion-text>${{ course.price}}</ion-text>
    </ion-item>
  </ion-list> -->

  <!-- <ion-card *ngFor=" let course of courses" [style]="'cursor: pointer;'" routerLink="">
    <img [src]="course.image_480x270" alt="corse image" style="width: 100px;" />
  
    <ion-card-content>
      <ion-card-title>{{course.title}}</ion-card-title>
      <ion-card-subtitle>
        <ion-icon *ngFor="let t of [1,2,3,4,5]" name="star" class="primary-color"></ion-icon>
      </ion-card-subtitle>
      <ion-text>${{ course.price}}</ion-text>
    </ion-card-content>
  </ion-card> -->
  <!-- <div class="categories">
    <ion-button class="primary-bg-color" color="primary-bg-color" >programming</ion-button>
    <ion-button class="primary-bg-color" color="primary-bg-color">programming</ion-button>
    <ion-button class="primary-bg-color" color="primary-bg-color">programming</ion-button>
  </div> -->
  <div class="section-text ion-text-capitalize ion-margin-top">
    category
  </div>
  <ion-row>
    <ion-row>
      <swiper [config]="categoriesSwap">
        <ng-component swiperSlide>
            <ion-button class="ion-text-capitalize" *ngFor="let category of categories">
              <ion-icon [name]="category.icon_name" color="light" slot="start"></ion-icon>
              {{category.name}}
            </ion-button> 
        </ng-component>
      </swiper>  
    </ion-row>
  </ion-row>
  <div class="section-text ion-text-capitalize ion-margin-top">
    Recommended
  </div>
<ion-row class="recommandeds-row">
    <swiper [config]="bannerConfig" class="recommanded-courses">
      <ng-template swiperSlide *ngFor="let course of courses">
        <ion-card class="card" [routerLink]="[course.id]">
          <img [src]="course.image" alt="course image" />
          <ion-card-content>
            <ion-card-subtitle class="ion-text-wrap" color="dark">{{course.title}}</ion-card-subtitle>
            <ion-card-subtitle>
              <ion-icon  name="star" class="primary-color" slot="start"></ion-icon>
              <ion-label> {{course.rating}} </ion-label>
            </ion-card-subtitle>
            <ion-label>{{course.author}}</ion-label>
            <ion-card-title class="primary-color"> {{course.price}} $</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </swiper>
  </ion-row>
  <div class="section-text ion-text-capitalize ion-margin-top">
    Courses
1  </div>
<!-- 
  <div>
    <ion-list lines="none">
      <ion-card *ngFor="let course of courses1" class="card">
        <ion-item>
          <ion-thumbnail class="ion-margin-end">
            <img [src]="course.image_480x270" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            {{course.title}}
            <p><ion-icon *ngFor="let t of [1,2,3,4,5]" name="star" color="primary"></ion-icon></p>
            <p>{{course.visible_instructors[0].name}} </p>
            <p color="primary-color">{{course.price}} $</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-list>
  </div> -->



</ion-content>