<ion-content>
  <div id="header" [@headerAnimation]>
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="../"></ion-icon>
      <div id="logo">
        <img src="../../../assets/icon/R.jpg" />
      </div>
    </div>
    <h1>Sign Up</h1>
    <p>Join us today! Create your account by entering your details below.</p>
  </div>
  <div class="wrapper" [@wrapperAnimation]>
    <ion-card class="form-wrapper">
      <ion-card-content>
        <ion-item>
          <ion-icon name="mail"></ion-icon>
          <ion-input type="Email" placeholder="Email" #email></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="password" placeholder="password" #password></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input type="password" placeholder="Confirmed password" #confirmedPassword></ion-input>
        </ion-item>
        <ion-button class="submit" expand="block" (click)="signUp(email,password,confirmedPassword)">Sign
          up</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>